{
  "semi": false,
  "singleQuote": true,
  "printWidth": 140,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "consistent",
  "proseWrap": "never",
  "plugins": ["prettier-plugin-tailwindcss"]
}
